<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login and Registration Portal</title>
  <link rel="stylesheet" href="../static/css/index.css">
  
  <style>
    
    
  </style>
</head>
<body>
  <nav>
    <a href="{{ url_for('students_login') }}">Students Login</a>
    <a href="{{ url_for('employee_login') }}">Employee Login</a>
    <a href="{{ url_for('students_registration') }}">Students Registration</a>
    <a href="{{ url_for('employee_registration') }}">Employee Registration</a>
  </nav>

  <button >verify</button>
  <div class="content">
  </div>
</body>
</html>
