<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login and Registration Portal</title>
  <style>
    {% comment %} Include Css Here from index.css {% endcomment %}   
  </style>
</head>
<body>
  <nav>
    <a href="students-login.html">Students Login</a>
    <a href="employee-login.html">Employee Login</a>
    <a href="students-registration.html">Students Registration</a>
    <a href="employee-registration.html">Employee Registration</a>
  </nav>

  <div class="content">
    <!-- This is where the main content of the page will go -->
  </div>
</body>
</html>
