<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login and Registration Portal</title>
  <link rel="stylesheet" href="../css/index.css">
  <!-- <style>
    {% comment %} Include Css Here from index.css {% endcomment %}   
  </style> -->
  <style>
    /* Reset some default styles for a cleaner look */
    
  </style>
</head>
<body>
  <nav>
    <a href="./StudentsLogin.html">Students Login</a>
    <a href="./EmployeeLogin.html">Employee Login</a>
    <a href="./StudentsRegistration.html">Students Registration</a>
    <a href="./EmployeeRegistration.html">Employee Registration</a>
  </nav>

  <div class="content">
    <!-- This is where the main content of the page will go -->
  </div>
</body>
</html>
