<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Students Details</title>
<link rel="stylesheet" href="static/css/studentsdetails.css">
  
</head>
<body>
  <h1>Student Details</h1>
  <table>
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Student Email</th>
        <th>Student Department</th>
        <th>Student Year</th>
      </tr>
    </thead>
    <tbody>
      {% for Student in students %}
        <tr>
          <td>{{ Student[0] }}</td>
          <td>{{ Student[1] }}</td>
          <td>{{ Student[2] }}</td>
          <td>{{ Student[3] }}</td>
          <td>{{ Student[4] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
