<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Registration</title>
  <link rel="stylesheet" href="../static/css/StudentsRegistration.css">
  <script src="../static/js/StudentRegistration.js"></script>
  
</head>
<body>
  <h1>Student Registration</h1>

  <form onsubmit="return validateForm()" action="/submit_student_registration" method="post">
    <label for="student-id">Student ID</label>
    <input type="text" id="student-id" name="student_id" required>
    <label for="student-name">Student Name</label>
    <input type="text" id="student-name" name="student_name" required>

    <label for="student-email">Student Email</label>
    <input type="email" id="student-email" name="student_email" required>

    <label for="student-department">Student Department</label>
    <select id="student-department" name="student_department">
      <option value="">Select Department</option>
      <option value="Computer Science">Computer Science</option>
      <option value="CSE - AIDS">CSE - AIDS</option>
      <option value="CSE - Cyber Security">CSE - Cyber Security</option>
      <option value="Mechanical Engineering">Mechanical Engineering</option>
      <option value="Electrical Engineering">Electrical Engineering</option>
      <option value="Civil Engineering">Civil Engineering</option>
    </select>

    <label for="student-year">Student Year</label>
    <select id="student-year" name="student_year">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>

    <label for="student-password">Create Password</label>
    <input type="password" id="student-password" name="student_password" required>

    <label for="student-password-confirm">Confirm Password</label>
    <input type="password" id="student-password-confirm" name="student_password_confirm" required>

    <label for="student-image">Upload Image</label>
    <input type="file" name="student_image" accept="image/*" required>
    <button type="submit">Register</button>
  </form>

 
</body>
